<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Password</title>
</head>
<body>
<h1>Update Password</h1>
<form action="http://localhost:5000/pass_update" method ="POST">
    <div>
        <label for="username">Username</label>
        <input type="text" name="username">
    </div>
    <div>
        <label for="new_password">New Password</label>
        <input type="password" name="new_password">
    </div>
    <div>
        <input type="submit" class="submit" value="Submit">
    </div>
</form>
</body>
</html>